$background-color-header: #ffffff;
$font-color: rgba(0, 0, 0, 0.85);

.header {
  display: flex;
  min-height: 80px;
  margin: 0 auto;
  padding: 0 22px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: $background-color-header;

  &__name {
    margin-right: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: $font-color;
    margin-block-start: 0;
    margin-block-end: 0;
    text-decoration: none;
  }

  &__signIn {
    width: 109px;
    height: 51px;
    margin-right: 19px;
    color: $font-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    background: transparent;
    border: transparent;
    cursor: pointer;
  }

  &__signUp {
    width: 109px;
    height: 51px;
    border-radius: 5px;
    border: 1px solid #52c41a;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #52c41a;
    background: transparent;
    cursor: pointer;
  }

  &__create {
    padding: 6px 10px;
    margin-right: 27px;
    background: transparent;
    border: 1px solid #52c41a;
    border-radius: 5px;
    color: #52c41a;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
  }

  &__user {
    display: flex;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
    margin-right: 15px;
    vertical-align: middle;
  }

  &__userName {
    text-align: center;
    align-self: center;
  }

  &__logOut {
    padding: 10px 18px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
  }

  &__avatar {
    margin-left: 5px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
}
