$red: #f5222d;
$blue: #1890ff;
.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 26px;
  padding: 48px 32px;
  width: 385px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow:
    0px 22px 106px rgba(0, 0, 0, 0.07),
    0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198),
    0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275),
    0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035),
    0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725),
    0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
  background-color: #fff;
  color: #262626;
  & h2 {
    margin-block-start: 0;
    margin-block-end: 21px;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  & label {
    font-size: 14px;
    line-height: 22px;
  }
  & input {
    padding: 8px 12px;
    margin-bottom: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    &::placeholder {
      color: #8c8c8c;
    }
    &.invalid {
      border-color: $red;
    }
    &[type='submit'] {
      background-color: $blue;
      color: #fff;
      cursor: pointer;
      &:disabled {
        background-color: rgba($blue, 0.6);
        cursor: not-allowed;
      }
    }
  }
  & .checkbox {
    display: flex;
    align-items: flex-start;
    margin-top: 9px;
    margin-bottom: 21px;
    padding-top: 8px;
    border-top: 1px solid #e8e8e8;
    color: #595959;
    & input {
      margin: 0;
      margin-right: 8px;
      margin-top: 4px;
    }
  }
  & footer {
    margin-top: -4px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #8c8c8c;
    & a {
      color: $blue;
      text-decoration: none;
    }
  }
  & section {
    margin-top: -12px;
    margin-bottom: 12px;
    color: $red;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
  }
}
